.other-notification-header {
  font-size: 18px;
  line-height: 21px;
}
.timestamp-widget-time {
  padding: 6.5px 9.8px;
}
.timestamp-widget-time > span {
  font-size: 10px;
  line-height: 11.93px;
}
.MuiFormControl-root {
  display: none;
}
