body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  background: wheat;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  text-decoration: none;
}
