
.first-item {
  color: #EA3F2A;
  top: 74px;
  left: -8px;
}

.second-item {
  color: #ED6513;
  top: 38px;
  left: 6px;
}

.third-item {
  color: #F3DD4A;
  top: 9px;
  left: 34px;
}

.fourth-item {
  color: #60DB89;
  top: -3px;
  left: 74px;
}

.fifth-item {
  color: #29BF5C;
  top: 6px;
  left: 117px;
}

.sixth-item {
  color: #37B060;
  top: 34px;
  right: 9px;
}

.seventh-item {
  color: #13923E;
  top: 72px;
  right: -6px;
}
