.header-section{
    background-color: rgba(184, 184, 248, 0.473);
    padding: 2rem 3rem ;
}
.container {
    padding: 2rem 3rem ;
}
.input {
    border: 1px solid rgba(128, 128, 128, 0.846);
    padding: 4px ;
    border-radius: 4px;
    font-size: 1.8rem;
}

.row{
    margin: 3px 0px ;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(212, 240, 238);
}