.react-datepicker__day--selected, .react-datepicker__day--in-range {
  background-color: rgba(59, 122, 247) !important;
}
    
.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
}