.data-access-footer {
  box-shadow: 1px 0px 40px rgba(0, 0, 0, 0.04);
}

#selectrole {
  .css-yk16xz-control {
    border-radius: 10px;
  }
}

@media screen and (max-width: 640px) {
  .data-table{
    width: 700px;
  }
}