REACT_APP_PUSHER_CLUSTER= 
REACT_APP_PUSHER_KEY=
#REACT_APP_PRETAA_API_URL=http://localhost:4000/graphql
REACT_APP_PRETAA_API_URL=https://pretaa-staging-new.x-studio.io/graphql

REACT_APP_PRETAA_SERVER_HOST=
REACT_APP_SALESFORCE_CONSUMER_KEY=
REACT_APP_PAGINATION_LIMIT=10
SKIP_PREFLIGHT_CHECK=true