[data-theme='light'] {

}
[data-theme='dark'] {
    * {
        background-color: rgb(180, 180, 162);
    }
}

.toggle-theme{
    width: 60px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}
.toggle-theme input {
    visibility:hidden;
}

.toggle-theme .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: rgb(151, 171, 171);
    transition: 0.2s ;
}
.slider::before {
    position: absolute;
    left: 3px ;
    bottom: 3px;
    content: "";
    display: block;
    width: 24px;
    height:24px;
    background-color: rgb(68, 58, 58);
    border-radius: 50%;
    transition: 0.2s;
}

.toggle-theme input:checked + .slider {
    background-color: rgb(112, 147, 181);
}
.toggle-theme input:checked + .slider::before {
   transform: translateX(30px);
}