@font-face {
  font-family: "SF Pro";
  font-weight: 100;
  font-style: italic;
  src: url("../assets/fonts/sf-pro-thin-italic.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/sf-pro-light-italic.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro";
  src: url("../assets/fonts/sf-pro-regular.otf") format("otf"),
}
@font-face {
  font-family: "SF Pro";
  font-style: italic;
  src: url("../assets/fonts/sf-pro-italic.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro";
  font-weight: 700;
  src: url("../assets/fonts/sf-pro-bold.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/sf-pro-bold-italic.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro";
  font-weight: 600;
  src: url("../assets/fonts/sf-pro-medium.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro";
  font-weight: 900;
  src: url("../assets/fonts/sf-pro-black.otf") format("otf"),
}
