.notes-not-found {
  h3 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.1px;
    color: #23265B;
    margin: 20px 0 0;
  }
  p {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.1px;
    color: #23265B;
    width: 235px;
    margin: 10px 0 0;
  }
  button {
    margin-top: 24px;
  }
}