node_modules
.env
/dist


*.jpg
*.md
*.pem


data_extractor/data/*
data_extractor/log
data_extractor/model
data_extractor/outputs
data_extractor/__pycache__
data_extractor/src/__pycache__

data_extractor/venv
data_extractor/path/to/venv
data_extractor/src/load_bart.py
data_extractor/src/relevance_scoring.py
data_extractor/src/scrape_linkedin.py

screenshots/**/*.*
!.gitkeep

*.log
data_extractor/data/*
