.user-upload {
  .h3 {
    font-size: 27px;
  }
  .upload-box {
    background-color: #f1f1f5;
    border: 1px solid #e5e5ef;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .upload-box-text {
    font-size: 16px;
    color: #4b4c4e;
  }
  .link-text {
    font-size: 16px;
  }
  .text {
    color: #4b4c4e;
    font-size: 16px;
  }
  .button {
    min-width: 199px;
  }
  .checkbox {
    height: 20px;
    width: 20px;
  }
  .text-red{
    color: red;
  }
}

